<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>@ViewBag.Title</title>
	<meta name="viewport" content="width=device-width" />

	@Styles.Render("~/Content/themes/base/css",
					"~/Content/bootstrap.css",
					"~/Content/css",
					"~/Content/Mobile/css",
					"~/Content/jquerymobile/css")
	
	@Styles.Render("~/Content/clires.mobile.css")

	@Scripts.Render("~/bundles/jquery",
					"~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery-mobile")
	<script>
		$(document).ready(function () {
			try {
				$.mobile.ajaxEnabled = false;
			} catch (e) { }
		});
	</script>
</head>
<body>
	<div class="container-fluid offset0">
		@Html.Partial("Common/_Sidebar")

		<nav class="navbar navbar-static navbar">
			<div class="navbar-inner">
				<div class="container" style="width: auto;">
					<ul class="nav">
						<li>@Html.ActionLink("Home", "Index", "Home")</li>
						<li>@Html.ActionLink("About", "About", "Home")</li>
						<li>@Html.ActionLink("Contact", "Contact", "Home")</li>
					</ul>
					<section id="login">
						@Html.Partial("_LoginPartial")
					</section>
				</div>
			</div>
			<div>
				@Html.Partial("_ViewSwitcher")
			</div>
		</nav>


		<div data-role="content">
			@RenderBody()
		</div>

	</div>
	</div>

	@Scripts.Render(
			"~/bundles/jqueryui",
			"~/bundles/knockout",
			"~/bundles/bootstrap",
			"~/Scripts/main.js",
			"~/Scripts/app/config.js",
			"~/Scripts/app/feedback.js",
			"~/bundles/jqueryval");

		@RenderSection("scripts", required: false)
</body>
</html>
